 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7 col-sm-9 col-xs-12">    
    <h3><strong><%= @project.title %></strong></h3>
    <h6><%= "Due date: #{@project.due_date}" %></h6>
    <br>
    <p><%= @project.description %></p>
    <br>
    <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary" %>
    <%= link_to "Abandon Project", project_path(@project), method: "delete", class: "btn btn-danger" %>
  </div>
  <%= render 'tasks' %>
</div>