<!DOCTYPE html>
<html>
<head>
  <title>Live Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li><h4>Live Project</h4></li>
        <li><%= link_to "All Projects", projects_path %></li>
        <li><%= link_to "New Project", new_project_path%></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <% if flash[:notice] %>
    <h6 class="alert alert-success"><%= flash[:notice]%></h6>
    <% elsif flash[:alert] %>
    <h6 class="alert alert-danger"><%= flash[:alert] %></h6>
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
