<!DOCTYPE html>
<html>
<head>
  <title>LiveProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>
<body>
<div class="container">
 
  <h1 id="main-title">Live Project</h1>
  <%= link_to "Sign In", projects_path, class: "h3", id: "sub-title" %>
  <h1></h1>
</div>

  <%= yield %>

</body>
</html>


