<!DOCTYPE html>
<html>
<head>
  <title>LiveProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>
<body background="http://fc06.deviantart.net/fs25/f/2008/042/f/9/Local_Texture__Wood_Breaker_by_Beyond_Oddities.jpg">
<div class="container">
  <ul class="nav">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Sign In", "#" %></li>
  </ul>
</div>

  <%= yield %>

</body>
</html>
